body {
  background-color: #F5F5DC;
}

h1 {
  color: #004225;
  border-color: #FFB000;
  border-width: 20px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
 
}

.button {
    cursor: pointer;
    position: relative;
    align-items:center ;
    padding: 10px 24px;
    font-size: 18px;
    color: #004225;
    border: 2px solid #004225;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #F5F5DC;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #FFB000;
    scale: 1.1;
    box-shadow: 0 0px 20px #F5F5DC;
  }
  
  .button:active {
    scale: 1;
  }


  